<% provide(:title, "Home") %>
<body>
<h1>Home Page</h1>
  <p>
    This is my home page. Welcome.
    <%= image_tag("/assets/spusle.png", :alt => "Spusle", style: 'height:30%;width:30%;') %>
  </p>
</body>