<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sofia's Web</title>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/header' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
